<div class="to-follow-ctn">
  <div class="search-bar">
    Seach bar
  </div>

  <div class="user-list">
    <%= render partial: 'user-card', collection: @users, as: :user  %>
  </div>
 
  <div>
    Trending
  </div>

</div>