<div class="user-card">
  <%= image_tag 'https://via.placeholder.com/64' , class_name: "card-img", size: "64x64", alt: "User image" %>
  <div class="fullname">
    <%= user.fullname %>
  </div>
</div>