
<div class="card-holder user-card">
  <div class="row no-gutters">
    <div class="col-md-auto">
      <%# <img src="..." class="card-img" alt="..."> %>
      <%= image_tag 'https://via.placeholder.com/48', class_name: "card-img", size: "48x48", alt: "User image" %>
    </div>
    <div class="col">

      <div class="card-body card-details">
        <p class="card-title"><%= link_to user.fullname , user_path_url(id: user.id) , method: :get , class: "user-name-link" %> </p>
        <p class="card-text card-content"> <%= "Followed by Sample User" %></p>
      </div>
    </div>
  </div>
</div>