
<div class="card-holder user-card">
  <div class="row no-gutters">
    <div class="col-md-auto">
      <%# <img src="..." class="card-img" alt="..."> %>
      <%= image_tag avatar_url(user.email), class_name: "card-img", size: "48x48", alt: "User image" %>
    </div>
    <div class="col">

      <div class="card-body card-details">
        <p class="card-title"><%=  user.fullname %> </p>
        <p class="card-text card-content"> <%= "Followed by Sample User" %></p>
      </div>
    </div>
  </div>
</div>