
<%# Fetch new arcticles %>

<%# <% articles = get_articels %> 

<%# Helper method to push data to firebase %>
<%# <% push_articles %>

<div id="react-div">

</div>

<div class="articles-list">
<%= render partial: 'article', collection: @articles, as: :article || "No Articles found" %>
</div>