
<%# Fetch new arcticles %>

<%# <% articles = get_articels %> 

<%# To be implemented %>

<div class="articles-list">
<%= render partial: 'article', collection: @articles, as: :article || "No Articles found" %>
</div>