
<div id="react-div">

</div>

<%= javascript_pack_tag 'articles' %>
<%# <div class="articles-list">
<%= render partial: 'article', collection: @articles, as: :article || "No Articles found" %>
<%# </div> %>