
<div class="card border-light mb-3" >
  <div class="card-header h3">Reviews</div>

    <% @reviews.each do |review| %>

    <div class="card-holder">
      <div class="row no-gutters">
        <div class="col-md-auto">
          <%# <img src="..." class="card-img" alt="..."> %>
          <%= image_tag 'Karthick.jpg' , class_name: "card-img", size: "80x80", alt: "User image" %>
        </div>
        <div class="col">
          <div class="card-body">
            <p class="card-title"><%=  review.user.username %></p>
            <h5 class="card-title"> <%= review.content %></h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>
<br>

<%= link_to 'New Review', new_review_path %>
