
<div class="card border-light mb-3" >
    <div class="card-header h3">Reviews</div>
    <div class="card-list">
    <% @from_time = Time.now %>
    <%= render @reviews, locals: {from_time: @from_time} %>
    </div>
  </div>

<br>

<%= link_to 'New Review', new_review_path %>
